body {
  margin: 0;
  background-color: #1F2937;
  font-family: 'Inter', sans-serif;
}

#container {
  width: 550px;
  width: 446px;
  display: flex;
  flex-direction: column;
  margin-left: 52px;
  margin-top: 115px;
}

#heading {
  margin: 0 0 10px 0;
  color: white;
  font-size: 40px;
  line-height: 40px;
  font-weight: 800;
}

#green-text {
  color: #4ADF86;
}

#sub-heading {
  color: #D5D4D8;
  margin: 0 0 51px 0;
  font-size: 20px;
  font-weight: 400;
}

#password-btn {
  background-color: #10B981;
  color: white;
  width: 191px;
  height: 42px;
  border-radius: 6px;
  border: none;
  font-size: 16px;
  margin-bottom: 35px; 
}

#line {
  margin: 0 auto;
  background-color: #2F3E53;
  width: 446px;
  height: 1px;
}

#password-space-container {
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
}

.password-space {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 211px;
  height: 39px;
  background-color: #273549;
  border-radius: 6px;
  color: #55F991;
  font-size: 16px;
}