body {
  margin: 0;
  background-color: #1F2937;
  font-family: 'Inter', sans-serif;
}

.green-text {
  color: #4ADF86;
}

#container {
  width: 550px;
  width: 446px;
  display: flex;
  flex-direction: column;
  margin-left: 52px;
  margin-top: 115px;
}

#heading {
  margin: 0 0 10px 0;
  color: white;
  font-size: 40px;
  line-height: 40px;
  font-weight: 800;
}

#sub-heading {
  color: #D5D4D8;
  margin: 0 0 51px 0;
  margin: 0 0 60px 0;
  font-size: 20px;
  font-weight: 400;
}

#usability-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
}

#password-btn {
  background-color: #10B981;
  color: white;
  width: 191px;
  height: 42px;
  border-radius: 6px;
  border: none;
  font-size: 16px;
  font-weight: 500;
}

#settings-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: end;
  /* CSS for design with generate button on the right side:
  align-items: start; */
}

/* #password-length, #include-numbers, #include-symbols {
  margin: 5px;
} */

#password-length {
  width: 30px;
  height: 16px;
  background-color: #1F2937;
  color: #D5D4D8;
  font-weight: bold;
  font-size: 16;
}

/* Maybe later: using CSS to display the checkbox as a slider

input[type="checkbox"] {
  visibility: hidden;
}

https://www.w3docs.com/snippets/css/how-to-style-a-checkbox-with-css.html */

#line {
  margin: 0 auto;
  background-color: #2F3E53;
  width: 446px;
  height: 1px;
}

#password-container {
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
}

#pass-container-one, #pass-container-two {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 211px;
  height: 39px;
  background-color: #273549;
  border-radius: 6px;
  color: #55F991;
  font-size: 16px;
}